.header-btn
{
background-color:greenyellow ;
border: 0.5em solid blue;
border-radius: 70px;
border-style: double;
width: 43em;
height: 5em;
margin-left: 465px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
}
.btn{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 1em;
}
